$bgcolor: #f8f0b3; 
$bgchatbox: #eeedf7;
$lightgreen: #67d565;
$darkgreen: #34668f;
$bgwhite: #fff;
$font: sans-serif;
$selectandnew: rgb(255,118,85);


.loginLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: $darkgreen;
    border-radius: 50%;
    padding: 5px;
    z-index: 1;
    img{
        width: 70px;
    }
}
.loginBox{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 1px 1px #dfe5ec;
    border-radius: 5px;
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
    border-bottom: 1px solid #d2dbe3;
    overflow: hidden;
    padding: 20px;
    padding-top: 40px;
    margin-top: -45px;
    .signInText{
        
        p{
            font-family: $font;
            font-size: 1em;
        }
    }
    .signInButton{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .signInLink{
            color: #000;
            text-decoration: none;
            background-color: $darkgreen;
        }
        .forgotText{
            padding: 5px;
            p{
                margin: 4px 0 4px 0 ;
            }
        }
    }
}